---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


a:link {
	color: black;
	text-decoration: none;
}

a:visited{
	color: #000;
}

a:hover{
	color: #7f7f7f;
}

a:active {
	color: black;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"reset",
	"header",
	"intro",
	"googlex",
	"nypd",
	"tmag",
	"svpply",
	"projfla",
	"want",
	"eo",
	"howe",
	"posters",
	"footer",
	"posts",
	"writing"
;

// Global CSS
body{
}

header {
	display: block;
}

.wrapper {
	display: block;
	overflow-x: hidden;
}


.project{
  display: block;
}

.projectIntro{
  margin: 0px auto;
  max-width: 1160px;
  position: relative;
}


// Misc
.globalImgWrapper{
  max-width: 100%;
  position: relative;
}

hr{
	margin: 0px auto 120px;
	max-width: 1160px;
}


// Typography

h1{
  font-family: "Helvetica Neue";
	-webkit-font-smoothing: antialiased;
  font-size: 60px;
	letter-spacing: 2.6px;
}

h2{
  font-family: 'Times';
	-webkit-font-smoothing: antialiased;
  font-size: 40px;
  font-weight: 100;
	letter-spacing: 2px;
}

h3{
  font-family: "Helvetica Neue";
	-webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #bbb;
  position: relative;
	letter-spacing: 1.1px;
}

p{
  font-family: "Helvetica Neue";
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 26px;
	background: #fff;
}

ul.posts{
	color: red;
}

// Markdown Override

strong, b, .bold{
  font-weight: bold;
}

em {
	font-style: italic;
}

// Site link states

h1:hover{
  letter-spacing: 5px;
  color: #000;
}

p a:link {
	text-decoration: none;
	font-family: "Times";
	-webkit-font-smoothing: antialiased;
	font-size: 18px;
	border-bottom: 1px solid black;
	letter-spacing: 0.5px;
}

p a:hover{
	color: #7f7f7f;
	border-bottom: 1px solid #7f7f7f;
}

h3 a:link{
	color: #bbb;
}

h3 a:visited{
	color: #bbb;
}

h3 a:hover{
	color: #7f7f7f;
}

//Navigation link states
nav #center li.index a.current, nav #center li.writing a.current{
	border: 2px solid rgba(255, 255, 255, 1);
}

//Disabled Hover state
// nav #center li.index a:hover, nav #center li.writing a:hover, nav #center li.tumblr a:hover{
// 	// border: 2px solid rgba(255, 255, 255, 1);
//
// }
