---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




/*GLOBAL*/

body {
	font-family: "Helvetica Neue";
	font-weight: lighter;
}

.wrapper {
	display: block;
	overflow-x: hidden;
}

a:link {
    text-decoration: none;
		color: #ffffff
}

.project{
  display: block;
}

.projectTitle {
  font-family: "Helvetica Neue";
  font-size: 60px;
	letter-spacing: 2.5px;
}

.year {
  font-family: 'Times';
  font-size: 40px;
  font-weight: 100;
}

.jobPosition {
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: #bbb;
  position: relative;
	letter-spacing: 1.1px;
}

.info {
  font-family: "Helvetica Neue";
	font-size: 16px;
	letter-spacing: 0.3px;
	line-height: 26px;
	background: #fff;
}

hr {
	margin: 0px auto 140px;
	max-width: 1160px;
}

@import
	"reset",
	"header",
	"googlex",
	"nypd"
	;
