---
layout: default
title: "Allan Yu"
---

{% include mobileIndex.html %}

<glitch>
<div class="indexWrapper">
  {% include header.html %}
  {% include intro.html %}

  {% include compound.html %}
  {% include wilson.html %}
  {% include ab.html %}
  {% include grailed.html %}
  {% include googlex.html %}
  {% include nypd.html %}
  {% include tmag.html %}
  {% include svpply.html %}
  {% include projfla.html %}
  {% include tipjar.html %}
  {% include want.html %}
  {% include eo.html %}
  {% include howe.html %}
  {% include mars.html %}
  {% include footer.html %}

</div>
<glitch>
