<div class="project">

  <div class="projectIntro ab">


    <div class="introLeft ab">
      <a href="https://www.nytimes.com/2016/06/09/fashion/american-lvmh-adam-pritzker-vanessa-traina.html" target="_blank">
        <h1 class="ab">Assembled Brands<h1>
      </a>
      <h2 class="ab">2018</h2>
      <h3 class="ab">Design Director</h3>
    </div>

    <div class="introRight ab">
      <p class="ab">This was an ambitious endeavor to create an all-in-one stylist tool (CRM+IMS+ECOMM) that would centralize high-end boutiques running on Shopify into one large shopping ‘Arcade’. This is what <a href="https://www.shopify.com/blog/introducing-shop" target="_blank"> Shopify’s Shop App</a> is today, 3 years ago. </p>
    </div>
  </div>


  <div class="projectBody ab">

    <img id ="catalog1" src="images/ab/catalog1.png">
    <img id ="ablogo" src="images/ab/ablogo.png">

    <div class="desktop_container">
        <img id ="desktop1" src="images/ab/desktop1.png">
        <img id ="desktop2" src="images/ab/desktop2.png">
        <img id ="desktop3" src="images/ab/desktop3.png">
    </div>

    <img id ="catalog2" src="images/ab/catalog2.png">
    <img id ="arcadelogo" src="images/ab/arcadelogo.png">
    <img id ="phone" src="images/ab/iphone.png">

    <div class="webcontainer">
      <p class="loggedout">Logged Out</p>
      <p class="loggedin">Logged In</p>
      <img id="web1" src="images/ab/web1.png">
      <img id="web2" src="images/ab/web2.png">
    </div>

  </div>

  <hr noshade size=1>

</div>
