<div class="project">

  <div class="projectIntro compound">


    <div class="introLeft compound">
      <a href="https://braid.co" target="_blank">
        <h1 class="compound">Compound<h1>
      </a>
      <h2 class="compound">2020</h2>
      <h3 class="compound">Design Director</h3>
    </div>

    <div class="introRight compound">
      <p class="compound">Now known as Braid, is a money transfer app (think Venmo for Groups) that I helped take from zero to live. I was involved in every aspect of the design process, from the digital product to the physical card itself. Case study available upon request! </p>
    </div>
  </div>


  <div class="projectBody compound">

    <img id="hero" src="images/compound/hero.png">
    <img id="altlogo1" src="images/compound/altlogo1.png">
    <img id="altlogo2" src="images/compound/altlogo2.png">

    <img id="review_compound" src="images/compound/review.png">
    <div class="float_img_container"></div>

    <img id="clogo" src="images/compound/clogo.png">

    <img id="gridscreens" src="images/compound/gridscreens.png">
    <img id="comp_desktop" src="images/compound/comp_desktop.png">

    <img id="angle" src="images/compound/angle.png">
    <img id="circular" src="images/compound/circular.png">

  </div>

  <hr noshade size=1>

</div>
