<div class="project">

  <div class="projectIntro eo">

    <div class="introLeft eo">
      <h1 class="eo">Electric<br>Objects</h1>
      <h2 class="eo">2014</h2>
      <h3 class="eo">Client</h3>
    </div>

    <div class="introRight eo">
      <p class="eo">Montes amet praesent vel lacus, magnam nulla at risus sed duis sem, ad ac gravida euismod turpis, mauris ligula. Sit sapien pede ut auctor, lacus quis ut neque nisl sit.</p>
    </div>
  </div>

  <div class="projectBody eo">
    <img id="eo" src="images/eo/eoscrn1.png">
    <img id="eo" src="images/eo/eoscrn2.png">

    <div id="eoContainer">
      <img id="eologo" src="images/eo/eologo.png">
      <img id="wmEletric" src="images/eo/wordmark.png">
    </div>

    <img id="eoapp" src="images/eo/eoapp.png">

    <div id="eoContainer">
      <img id="wmObject" src="images/eo/wordmark.png">
    </div>
  </div>

  <hr noshade size=1>

</div>
