<div class="project">

  <div class="projectIntro eo">

    <div class="introLeft eo">
      <h1 class="eo">Electric<br>Objects</h1>
      <h2 class="eo">2014</h2>
      <h3 class="eo">Client</h3>
    </div>

    <div class="introRight eo">
      <p class="eo">Unused web directions when I was contracting for Electric Objects. I spent my time exploring visual interfaces under the creative directions of Ben Pieratt. Also helped to create the successful Kickstarter campaign with the EO team.</p>
    </div>
  </div>

  <div class="projectBody eo">
    <img id="eo" src="images/eo/eoscrn1.png">
    <img id="eo" src="images/eo/eoscrn2.png">

    <div id="eoContainer">
      <img id="eologo" src="images/eo/eologo.png">
      <img id="wmEletric" src="images/eo/wordmark.png">
    </div>

    <img id="eoapp" src="images/eo/eoapp.png">

    <div id="eoContainer">
      <img id="wmObject" src="images/eo/wordmark.png">
    </div>
  </div>

  <hr noshade size=1>

</div>
