<div class ="project">

  <div class ="projectIntro googlex">

    <div class="introLeft googlex">
      <h1 class ="googlex">Google X</h1>
      <h2 class ="googlex">2015</h2>
      <h3 class ="googlex">Fulltime</h3>
    </div>

    <div class="introRight googlex">
      <p class ="googlex">Montes amet praesent vel lacus, magnam nulla at risus sed duis sem, ad ac gravida euismod turpis, mauris ligula. Sit sapien pede ut auctor, lacus quis ut neque nisl sit.</p>
    </div>
  </div>

  <div class ="projectBody googlex">
    <img id ="googlex" src="images/googlex/googlex.jpg">

    <div id ="googleContainer">
      <img id ="googlelogo" src="images/googlex/googlelogo.png">
    </div>
  </div>

  <hr noshade size=1>

</div>
