<div class ="project">

  <div class = "projectWrapper googlex">

    <div class ="projectTitle googlex">
      Google X
    </div>

    <div class = "year googlex">
      2014
    </div>

    <div class = "jobPosition googlex">
      Fulltime
    </div>

    <div class ="info googlex">
      Montes amet praesent vel lacus, magnam nulla at risus sed duis sem, ad ac gravida euismod turpis, mauris ligula. Sit sapien pede ut auctor, lacus quis ut neque nisl sit.
    </div>

    <img id ="googlex" src="images/googlex/googlex.jpg">
    <img id ="googlelogo" src="images/googlex/googlelogo.png">


    <!-- <div id ="googlebg"></div> -->


</div>

</div>
