<div class="project">

  <div class="projectIntro googlex">

    <div class="introLeft googlex">

      <a href="https://www.google.com/search?q=google+x&oq=google+x+&aqs=chrome..69i57j0l4j69i65.2517j0j7&sourceid=chrome&es_sm=119&ie=UTF-8" target="_blank">
        <h1 class="googlex">Google X<h1>
      </a>

      <h2 class="googlex">2015</h2>
      <h3 class="googlex">Fulltime</h3>
    </div>

    <div class="introRight googlex">
      <p class="googlex">Worked on the <a href="https://www.google.com/search?es_sm=119&q=google+glass+tony+fadell&oq=google+glass+tony+fadell&gs_l=serp.3...6874.8615.0.8716.12.12.0.0.0.0.126.1008.10j2.12.0.msedr...0...1c.1.62.serp..6.6.507.m-bFgrPNDsk" target="_blank">Glass team</a> as the lead for the Glass companion app on Android and the lead for the new Maps app for Glass. The work here is all NDA at the moment. </p>
    </div>
  </div>

  <div class="projectBody googlex">
    <img id="googlex" src="images/googlex/googlex.jpg">

    <div id="googleContainer">
      <img id ="googlelogo" src="images/googlex/googlelogo.png">
    </div>
  </div>

  <hr noshade size=1>

</div>
