<div class="project">

  <div class="projectIntro grailed">


    <div class="introLeft grailed">
      <a href="https://www.grailed.com" target="_blank">
        <h1 class="grailed">Grailed<h1>
      </a>
      <h2 class="grailed">2016</h2>
      <h3 class="grailed">Stint</h3>
    </div>

    <div class="introRight grailed">
      <p class="grailed">During my short stint, I did these interesting UI and visual concepts that I thought was fun to show here. You should ask me about these sometimes if we get a chance. I still think they’re worth talking about. </p>
    </div>
  </div>


  <div class="projectBody grailed">

    <img id="acne" src="images/grailed/acne.png">
    <img id="review" src="images/grailed/review.png">
    <img id="angles" src="images/grailed/angles.png">

    <img id="pending" src="images/grailed/pending.png">
    <img id="glogo" src="images/grailed/glogo.png">

    <img id="web" src="images/grailed/web.png">

    <img id="offers" src="images/grailed/offers.png">

    <img id="hover" src="images/grailed/hover.png">
    <img id="boots" src="images/grailed/boots.png">

    <img id="rating" src="images/grailed/rating.png">


  </div>

  <hr noshade size=1>

</div>
