<header>
  <nav>
    <div id="left">Allan Yu</div>

    <div id="center">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>

    <div id="right">Work</div>
  </nav>

  <div class="intro">
    <div id="leftcolumn">
      <ul>
        <li class="nodecor">a</li>
        <li>graphic</li>
        <li>product</li>
        <li>visual</li>
        <li>interaction</li>
        <li>experience</li>
        <li class="nodecor">designer</li>
      </ul>
    </div>

    <div id="rightcolumn">
      <ul>
        <li>&nbsp;</li>
        <li class="email">yu.allan@gmail.com</li>
        <li>&nbsp;</li>
        <li>twitter</li>
        <li>linkedin</li>
        <li>tumblr</li>
      </ul>
    </div>
  </div>

  <hr noshade size=1>

</header>
