<header>
  <div class="nav">
    <div id="left">Allan Yu</div>

    <div id="center">
      <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>

      <!-- <div id="centeralign">
          <div class="numberCircle">
            <div class="height_fix"></div>
            <div class="content">1</div>
          </div>

          <div class="numberCircle">
            <div class="height_fix"></div>
            <div class="content">2</div>
          </div>

          <div class="numberCircle">
            <div class="height_fix"></div>
            <div class="content">3</div>
          </div> -->
      </div>

      <div id="right">Work</div>
  </div>





  <div class="intro">
    <div id ="leftcolumn">
      <ul>
        <li class="nodecor">a</li>
        <li>graphic</li>
        <li>product</li>
        <li>visual</li>
        <li>interaction</li>
        <li>experience</li>
        <li class="nodecor">designer</li>
      </ul>
    </div>

    <div id = "rightcolumn">
      <ul>
        <li>&nbsp;</li>
        <li class="email">yu.allan@gmail.com</li>
        <li>&nbsp;</li>
        <li>twitter</li>
        <li>linkedin</li>
        <li>tumblr</li>
      </ul>
    </div>
  </div>

  <hr noshade size=1>

</header>
