<div class="project">

  <div class="projectIntro howe">

    <div class="introLeft howe">
      <a href="http://www.susannahowe.com/" target="_blank">
        <h1 class="howe">Susanna<br>Howe</h1>
      </a>
      <h2 class="howe">2011</h2>
      <h3 class="howe"><a href="http://ginlane.com/" target="_blank">For Gin Lane</a></h3>
    </div>

    <div class="introRight howe">
      <p class="howe">A portfolio site for fashion photographer and artist Susanna Howe. The design uses misaligned typography and overlapping images to exaggerate its interactive qualities and to engage with the viewer as a user rather than an audience.</p>
    </div>
  </div>

  <div class="projectBody howe">
    <img id="howe1" img src="images/howe/howe1.png">
    <img id="howe2" img src="images/howe/howe2.png">
    <img id="howe3" img src="images/howe/howe3.png">
    <img id="howe4" img src="images/howe/howe4.png">
    <img id="howe5" img src="images/howe/howe5.png">
    <img id="howe6" img src="images/howe/howe6.png">

    <div class="globalImgWrapper">
      <img id="howe7" img src="images/howe/howe7.png">
      <img id="howe8" img src="images/howe/howe8.png">
      <img id="howe9" img src="images/howe/howe9.png">
    </div>

  </div>

    <hr span class="howehr" noshade size=1>

</div>
