<div class="project">
  <div class="intro">

    <div id="leftcolumn">

      <img id="leftcolmscribble" src="images/scribble2x.png">

      <ul>
        <li class="nodecor">a</li>
        <li>graphic</li>
        <li>product</li>
        <li>visual</li>
        <li>interaction</li>
        <li>experience</li>
        <li class="nodecor">designer</li>
      </ul>


    </div>

    <div id="rightcolumn">
      <ul>
        <li>&nbsp;</li>
        <li class="email"><a href="mailto:yu.allan@gmail.com">yu.allan@gmail.com</a></li>
        <li>&nbsp;</li>
        <li><a href="https://twitter.com/allanyu_" target="_blank">twitter</a></li>
        <li><a href="https://www.linkedin.com/in/allanyu" target="_blank">linkedin</a></li>
      </ul>
    </div>


  </div>

  <hr noshade size=1>

</div>
