<div class="project">

  <div class="projectIntro mars">


    <div class="introLeft mars">
      <a href="https://marsmaiers.com" target="_blank">
        <h1 class="mars">Mars Maiers</h1>
      </a>

      <h2 class="mars">2017 – 2019</h2>
      <h3 class="mars">Personal</h3>
    </div>

    <div class="introRight mars">
      <p class="mars">It’s a poster a day for three and a half years that ended up being featured on <a href="https://eyeondesign.aiga.org/in-defense-of-poster-a-day-projects/" target="_blank">AIGA</a> and <a href="https://www.itsnicethat.com/articles/allan-yu-mars-maiers-illustration-090218" target="_blank">It's Nice That</a>. Here is a <a href="http://allanyu.nyc/2017/01/10/failures.html" target="_blank">more in-depth read</a> read about why I started this personal project. </p>
    </div>
  </div>

  <div class="projectBody mars">
    <img id="mars" src="images/mars/mars1.png">
    <img id="mars" src="images/mars/mars2.png">
    <img id="mars" src="images/mars/mars3.png">
    <img id="mars" src="images/mars/mars4.png">
    <img id="mars" src="images/mars/mars5.png">
  </div>

  <hr noshade size=1>

</div>
