<div id="mobile">

  <div id="mobilebg">
    <img src="/images/mobile/mobilewall2.jpg" />
  </div>

  <div class="mobileoverlay">

    <p class="mobiletext">Open this on your desktop for the intended viewing experience</p>

  <div id="buttonwrapper">
    <div id="emailbutton">
        <a id="emailtext" href="www.google.com">email link to view later</a>
    </div>

    <div id="emailbuttonbg"></div>
  </div>

  <div id="warningwrapper">
    <div id="warning">
      &#8593;<br>
      will open your native mail app
    </div>
  </div>



</div>
