<div class="mobile">

  <div class="mobileWrapper">

    <div id="mobileOverlay">

      <div id="tape1"></div>
      <div id="tape2"></div>

      <p class="mobiletext">Open this on your desktop for the intended viewing experience</p>

      <div id="emailbutton">
        <a class = "email" href="google.com">email link to view later</a>
      </div>

      <div id="emailbuttonbg"></div>

      <p id="emailNative">&#8593; <br/> Will open your native mail app </p>

    </div>

  </div>

  <img class="mobilewall" src="images/mobile/mobilewall_orginal.jpg" />
  <!-- <img class="mobilewall" src="images/mobile/mobilediv2.jpg" /> -->

</div>
