<div class ="project">

  <div class = "projectWrapper nypd">

    <div class ="projectTitle nypd">
      New York <br> Product Designers
    </div>

    <div class = "year nypd">
      2010-2015
    </div>

    <div class = "jobPosition nypd">
      Co-founder
    </div>

    <div class ="info nypd">
      Montes amet praesent vel lacus, magnam nulla at risus sed duis sem, ad ac gravida euismod turpis, mauris ligula. Sit sapien pede ut auctor, lacus quis ut neque nisl sit.
    </div>

    <div class = "nypdMembers">
      <div class = "num">235</div>
      <div class = "nypdattrib members">Members</div>
      <div class = "counting">and counting</div>
    </div>

    <div class = "nypdJobs">
      <div class = "num">109</div>
      <div class = "nypdattrib jobs">Jobs</div>
      <div class = "counting">and counting</div>
    </div>



    <div class = "diagonal">
      <svg style='width: 100%; height: 100%;'>
          <line x1="0" y1="100%" x2="100%" y2="0" style="stroke:rgb(0,0,255);stroke-width:1"/>
      </svg>
    </div>

    <img id ="nypdMemScrn" src="images/nypd/nypd_members.png">
    <img id ="nypdJobScrn" src="images/nypd/nypd_jobs.png">


    <!-- <hr noshade size=1> -->

</div>

</div>
