<div class="project">

  <div class="projectIntro nypd">

    <div class="introLeft nypd">

      <a href="http://www.n-y-p-d.com/" target="_blank">
        <h1 class="nypd">New York <br> Product Designers</h1>
      </a>

      <h2 class="nypd">2011 &mdash; 2015</h2>
      <h3 class="nypd">Co-founder</h3>
    </div>

    <div class="introRight nypd">
      <p class="nypd">Started in 2011, New York Product Designers is a side project by <a href="https://twitter.com/elirousso" target="_blank">Eli Rousso</a> and me to bring together a list of talented product designers in NYC. The project expanded to include a list of trusted companies and an expanding job board. You can follow us on <a href="https://twitter.com/nypd" target="_blank">@NYPD</a>.</p>
    </div>
  </div>

  <div class="projectBody nypd">
    <div class="numberWrapper">

      <div class="members">
        <div class="num">235</div>
        <div class="name">Members</div>
        <div class="counting">and counting</div>
      </div>

      <div class= "diagonal">
        <svg style='width: 100%; height: 100%;'><line x1="0" y1="100%" x2="100%" y2="0" style="stroke:rgb(0,0,255);stroke-width:1"/></line></svg>
      </div>

      <div class="jobs">
        <div class="num">109</div>
        <div class="name">Jobs</div>
        <div class="counting">and counting</div>
      </div>
    </div>

    <div class="imgWrapper">
      <img id="jobsScrn" src="images/nypd/nypd_jobs.png">
      <img id="memberScrn" src="images/nypd/nypd_members.png">
    </div>

    <div class="postings">
      <div class="postingTitle">Job postings from: </div>

      <div class="companies">
        <ul class="leftside">
          <li>Nike</li>
          <li>Vimeo</li>
          <li>Kickstarter</li>
          <li>Complex</li>
          <li>Harvest</li>
          <li>Spotify</li>
          <li>Quartz</li>
          <li>Yahoo</li>
        </ul>

        <ul class="rightside">
          <li>Warby Parker</li>
          <li>FiftyThree</li>
          <li>Art.sy</li>
          <li>Etsy</li>
          <li>Behance</li>
          <li>ZocDoc</li>
          <li>Foursquare</li>
          <li>and more</li>
        </ul>
      </div>
    </div>
  </div>

  <hr noshade size=1>

</div>
