<div class="project">

  <div class="projectIntro posters">

    <div class="introLeft posters">
      <h1 class="posters">Misc Posters</h1>
      <h2 class="posters">2015</h2>
      <h3 class="posters">Personal</h3>
    </div>

    <div class="introRight posters">
      <p class="posters">Fun posters to explore art directions and to flex creative muscle.</p>
    </div>
  </div>

  <div class="projectBody posters">
    <img id="posters" src="images/posters/longo.png">
    <img id="posters" src="images/posters/fabrik.png">
    <img id="posters" src="images/posters/sontag.png">
    <img id="posters" src="images/posters/luis.png">
    <img id="posters" src="images/posters/lewitt.png">
    <img id="posters" src="images/posters/squiggle.png">
  </div>

  <hr noshade size=1>

</div>
