<div class="project">

  <div class="projectIntro projfla">

    <div class="introLeft projfla">
      <h1 class="projfla">Project Florida</h1>
      <h2 class="projfla">2013 &mdash; 2014</h2>
      <h3 class="projfla">Fulltime</h3>
    </div>

    <div class="introRight projfla">
      <p class="projfla">Still in stealth stage, Project Florida is a preventative health care company based in NYC. I worked closely in defining the product, setting it's purpose, and exploring visual directions. My work included all aspects of design including (product, interface, experience, and visual language).</p>
    </div>
  </div>

  <div class="projectBody projfla">

    <div class="grid row">
        <img id="projgrid" src="images/projfla/projfla_1.png">
        <img id="projgrid" src="images/projfla/projfla_2.png">
        <img id="projgrid" src="images/projfla/projfla_3.png">
        <img id="projgrid" src="images/projfla/projfla_4.png">
        <img id="projgrid" src="images/projfla/projfla_5.png">
        <img id="projgrid" src="images/projfla/projfla_6.png">
    </div>

    <div class="projempty"></div>

  <hr noshade size=1>

</div>
