<div class="project">

  <div class="projectIntro svpply">

    <div class="introLeft svpply">
      <h1 class="svpply">Svpply</h1>
      <h2 class="svpply">2011 &mdash; 2012</h2>
      <h3 class="svpply">Fulltime</h3>
    </div>

    <div class="introRight svpply">
      <p class="svpply">Montes amet praesent vel lacus, magnam nulla at risus sed duis sem, ad ac gravida euismod turpis, mauris ligula. Sit sapien pede ut auctor, lacus quis ut neque nisl sit. Ut usu zril mediocritatem, dicam admodum ad cum. Assum suavitate per ei, latine mnesarchum cu cum. Qui causae invenire mediocrem id, sumo dicam dolores cu sea, ex duo wisi facilisis eloquentiam.</p>
    </div>
  </div>

  <div class="projectBody svpply">

    <img id="ratings" src="images/svpply/ratings.png">
    <img id="svpplyapp" src="images/svpply/app.png">

    <div class="callbox">
      <div id="arrow">&#8668;</div>
      <ul>
        <li id="primary">3 <span class="italic">in</span> 1</li>
        <li>Navigation</li>
        <li>Filter</li>
        <li>Breadcrumb</li>
      </ul>
    </div>

    <div class="globalImgWrapper">
      <img id="searchpkg" src="images/svpply/searchpkg.png">

      <div class="ripbox">
          <p>R.I.P.</p>
          <p class ="ripyear">2011 &mdash; 2014</p>
      </div>

      <div class="filter">
        <span class="georgiabold">Show only:</span>
        <form action="demo_form.asp" method="get">
          <input type="checkbox"> Apparel<br>
          <input type="checkbox"> Accessories<br>
          <input type="checkbox"> Shoes<br>
          <input type="checkbox"> Tech<br>
          <input type="checkbox"> Media<br>
          <input type="checkbox"> Home<br>
          <input type="checkbox"> Art<br>
          <input type="checkbox"> Other<br>
        </form>
      </div>
    </div>

    <div id="svContainer">
      <img id ="svlogo" src="images/svpply/sv.png">
    </div>

    <img id="notes" src="images/svpply/notes.png">

    <div class="globalImgWrapper">
      <img id="svfooter" src="images/svpply/svfooter.png">
      <img id="pointer" src="images/svpply/pointer.png">
      <img id="social" src="images/svpply/social.png">
    </div>


    <img id="ipad" src="images/svpply/ipad.png">


  </div>

  <hr noshade size=1>

</div>
