<div class="project">

  <div class="projectIntro svpply">

    <div class="introLeft svpply">
      <a href="https://www.google.com/search?q=svpply&oq=svpply&aqs=chrome..69i57j69i60j69i65l3j0.1867j0j4&sourceid=chrome&es_sm=119&ie=UTF-8" target="_blank">
        <h1 class="svpply">Svpply</h1>
      </a>
      <h2 class="svpply">2011 &mdash; 2012</h2>
      <h3 class="svpply">Fulltime</h3>
    </div>

    <div class="introRight svpply">
      <p class="svpply">Svpply is an online marketplace with the world's best products and stores curated by a tasteful community. Founded by <a href="https://twitter.com/pieratt" target="_blank">Ben Pieratt</a>, <a href="https://twitter.com/eric_wvgg" target="_blank">Eric Jacobsen</a>, <a href="https://twitter.com/leppert" target="_blank">Greg Leppert</a>, and <a href="https://twitter.com/zachklein" target="_blank">Zach Klein</a>; was later acquired by eBay in 2012 and finally shut down in 2014. Svpply was powered by the most amazing team I've ever worked with (<a href="https://twitter.com/judstephenson" target="_blank">Jud Stephenson</a>, <a href="https://twitter.com/guillelopez_" target="_blank">Guille Lopez</a>, <a href="https://twitter.com/smkiv" target="_blank">Mark Kinney</a>, and <a href="https://twitter.com/natestedman" target="_blank">Nate Stedman</a>).</p>
    </div>
  </div>

  <div class="projectBody svpply">

    <img id="ratings" src="images/svpply/ratings.png">
    <img id="svpplyapp" src="images/svpply/app.png">

    <div class="callbox">
      <div id="arrow">&#8668;</div>
      <ul>
        <li id="primary">3 <span class="italic">in</span> 1</li>
        <li>Navigation</li>
        <li>Filter</li>
        <li>Breadcrumb</li>
      </ul>
    </div>

    <div class="globalImgWrapper">
      <img id="searchpkg" src="images/svpply/searchpkg.png">

      <div class="ripbox">
          <p>R.I.P.</p>
          <p class ="ripyear">2011 &mdash; 2014</p>
      </div>

      <div class="filter">
        <span class="georgiabold">Show only:</span>
        <form action="demo_form.asp" method="get">
          <input type="checkbox"> Apparel<br>
          <input type="checkbox"> Accessories<br>
          <input type="checkbox"> Shoes<br>
          <input type="checkbox"> Tech<br>
          <input type="checkbox"> Media<br>
          <input type="checkbox"> Home<br>
          <input type="checkbox"> Art<br>
          <input type="checkbox"> Other<br>
        </form>
      </div>
    </div>

    <div id="svContainer">
      <img id ="svlogo" src="images/svpply/sv.png">
    </div>

    <img id="notes" src="images/svpply/notes.png">

    <div class="globalImgWrapper">
      <img id="svfooter" src="images/svpply/svfooter.png">
      <img id="pointer" src="images/svpply/pointer.png">
      <img id="social" src="images/svpply/social.png">
    </div>


    <img id="ipad" src="images/svpply/ipad.png">


  </div>

  <hr noshade size=1>

</div>
