<div class="project">

  <div class="projectIntro tipjar">

    <div class="introLeft tipjar">

      <a href="https://www.tipjar.it/" target="_blank">
        <h1 class="tipjar">Tipjar<h1>
      </a>

      <h2 class="tipjar">2014</h2>
      <h3 class="tipjar">Client</h3>
    </div>

    <div class="introRight tipjar">
      <p class="tipjar">Tipjar is a way for fans to contribute to their favorite content providers seamlessly. I was responsible for all aspects of Tipjar including branding, visual, interaction, and experience design.</p>
    </div>
  </div>



  <div class="projectBody tipjar">

    <div id="tipjarContainer">
      <img id ="tjlogotype" src="images/tipjar/tipjarlogotype.png">
      <img id ="smile" src="images/tipjar/smile.png">
      <img id ="purple" src="images/tipjar/purp.png">
    </div>

    <img id="tip-splash" src="images/tipjar/tipjar-splash.png">

    <div id="tipjarContainer2">
      <img id ="red" src="images/tipjar/red.png">
      <img id ="bar" src="images/tipjar/bar.png">
    </div>

    <img id="wissing" src="images/tipjar/wissing.png">
    <img id="tip22" src="images/tipjar/22tip.png">

    <img id ="green" src="images/tipjar/green.png">

    <img id="bank" src="images/tipjar/bank.png">

    <img id="cc" src="images/tipjar/cc.png">

    <img id="link" src="images/tipjar/link.png">

    <img id="profile" src="images/tipjar/profile.png">


  </div>

  <hr noshade size=1>

</div>
