<div class="project">

  <div class="projectIntro tipjar">

    <div class="introLeft tipjar">

      <a href="https://www.google.com/search?q=google+x&oq=google+x+&aqs=chrome..69i57j0l4j69i65.2517j0j7&sourceid=chrome&es_sm=119&ie=UTF-8" target="_blank">
        <h1 class="tipjar">Tipjar<h1>
      </a>

      <h2 class="tipjar">2014</h2>
      <h3 class="tipjar">client</h3>
    </div>

    <div class="introRight tipjar">
      <p class="tipjar">Worked on the <a href="https://www.google.com/search?es_sm=119&q=google+glass+tony+fadell&oq=google+glass+tony+fadell&gs_l=serp.3...6874.8615.0.8716.12.12.0.0.0.0.126.1008.10j2.12.0.msedr...0...1c.1.62.serp..6.6.507.m-bFgrPNDsk" target="_blank">Glass team</a> as the lead for the Glass companion app on Android and the lead for the new Maps app for Glass. The work here is all NDA at the moment. </p>
    </div>
  </div>



  <div class="projectBody tipjar">

    <div id="tipjarContainer">
      <img id ="tjlogotype" src="images/tipjar/tipjarlogotype.png">
      <img id ="smile" src="images/tipjar/smile.png">
      <img id ="purple" src="images/tipjar/purp.png">
    </div>

    <img id="tip-splash" src="images/tipjar/tipjar-splash.png">

    <div id="tipjarContainer2">
      <img id ="red" src="images/tipjar/red.png">
      <img id ="bar" src="images/tipjar/bar.png">
    </div>

    <img id="wissing" src="images/tipjar/wissing.png">
    <img id="tip22" src="images/tipjar/22tip.png">

    <img id ="green" src="images/tipjar/green.png">

    <img id="bank" src="images/tipjar/bank.png">

    <img id="cc" src="images/tipjar/cc.png">

    <img id="link" src="images/tipjar/link.png">

    <img id="profile" src="images/tipjar/profile.png">


  </div>

  <hr noshade size=1>

</div>
