<div class="project">

  <div class="projectIntro tmag">

    <div class="introLeft tmag">
      <h1 class="tmag">T-Magazine</h1>
      <h2 class="tmag">2014</h2>
      <h3 class="tmag">Spec</h3>
    </div>

    <div class="introRight tmag">
      <p class="tmag">Work done for my interview as the role of T-Mag's digital director where I ended the process early for an opportunity at Google X. The work here is a preliminary exploration of an art direction for T-Magazine that would better align with the creative and product vision of the printed magazine.</p>
    </div>
  </div>

  <div class="projectBody tmag">

    <img id="tmagGrass" src="images/tmag/tmag_grass.png">
    <img id="tmagBw" src="images/tmag/tmag_bw.png">

    <p class="option1"><span class="bold">Option 1</span> <br> Crop featured article photo within logo’s negative space</p>
    <p class="option2"><span class="bold">Option 2</span> <br> Abstract the featured photo with its complimentry colors</p>

    <img id="tmagVoid" src="images/tmag/tmag_void.png">

    <p class="web">Web Direction <span class="bold">1</span></p>
    <img id="tmagWeb" src="images/tmag/tmag_web1.png">

    <p class="web">Web Direction <span class="bold">2</span></p>
    <img id="tmagWeb" src="images/tmag/tmag_web2.png">

  </div>

  <hr noshade size=1>

</div>
