<div class="project">

  <div class="projectIntro want">

    <div class="introLeft want">
      <h1 class="want">Want <br> by Svpply</h1>
      <h2 class="want">2012</h2>
      <h3 class="want">Fulltime</h3>
    </div>

    <div class="introRight want">
      <p class="want">Montes amet praesent vel lacus, magnam nulla at risus sed duis sem, ad ac gravida euismod turpis, mauris ligula. Sit sapien pede ut auctor, lacus quis ut neque nisl sit.</p>
    </div>
  </div>

  <div class="projectBody want">
    <img id="want1" src="images/want/want1.png">
    <img id="want2" src="images/want/want2.png">
    <img id="want3" src="images/want/want3.png">
    <img id="want4" src="images/want/want4.png">
    <img id="want5" src="images/want/want5.png">
    <img id="want6" src="images/want/want6.png">
  </div>

  <hr noshade size=1>

</div>
