<div class="project">

  <div class="projectIntro wilson">


    <div class="introLeft wilson">
      <a href="https://wilson.fm" target="_blank">
        <h1 class="wilson">Wilson<h1>
      </a>
      <h2 class="wilson">2018 – Present</h2>
      <h3 class="wilson">Founder</h3>
    </div>

    <div class="introRight wilson">
      <p class="wilson">I founded this non-algorithmic podcast discovery product that packaged episodes in a magazine like format released weekly. There is more to come with Wilson that I’m excited to share with you!</p>
    </div>
  </div>


  <div class="projectBody wilson">

    <img id ="wilson" src="images/wilson/w_hero.png">
    <img id ="wilsonlogo" src="images/wilson/w_logo.png">
    <img id ="matrix" src="images/wilson/w_matrix.png">
    <img id ="w_list" src="images/wilson/w_list.png">

    <img id ="w_newapp" src="images/wilson/w_newapp.png">
    <img id ="w_desktop" src="images/wilson/w_desktop.png">

    <img id ="wilsonlogo2" src="images/wilson/w_logo.png">
    <img id ="tc_review" src="images/wilson/tc_review.png">
    <img id ="nieman_review" src="images/wilson/nieman_review.png">
    <img id ="w_roadmap" src="images/wilson/w_roadmap.png">

    <video width="500px" muted autoplay plays-inline loop>
      <source src="images/wilson/w_vid.webm" type="video/webm"/>
      <source src="images/wilson/w_vid.mp4" type="video/mp4"/>
    </video>

    <h2 id="partnerTitle">Partnered With</h2>=
    <img id ="w_partners" src="images/wilson/w_partners.png">

  </div>

  <hr noshade size=1>

</div>
