footer{
  display: block;
  width: 100%;
  margin-top: 320px;

}

.pencilWrapper{
  z-index: 400;
  height: 78px;
  width: 288px;
  display: block;
  margin: -194px auto;
}

p.footer{
  margin: 150px auto;
  display: block;
  text-align: center;
  font-size: 60px;
  background: none;
  z-index: 501;
}

img#pencil3{
  padding-right: 73px;
  padding-left: 20px;
  }

img#pencil5{
    z-index: 500;
    }
