.projectIntro.googlex{
  padding-top: 20px;
}

.introLeft.googlex{
  width: 500px;
  position: relative;
  left: 19%;
  z-index: -10;
}

h2.googlex{
  position: absolute;
  color: #57ff96;
  top: 43px;
  left: 37px;
}

h3.googlex{
  position: absolute;
  top: -16px;
  left: 266px;
}

.introRight.googlex{
  width: 500px;
  position: relative;
  left: 50%;
  top: -110px;
  z-index: -20;
}

 p.googlex{
  width: 387px;
  border: 1px solid #000;
  padding: 32px;
}

.projectBody.googlex{
  margin: -20px auto 120px;
  max-width: 100%;
  position: relative;
}

img#googlex{
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

#googleContainer{
  margin: 0px auto;
  max-width: 1160px;
  position: relative;
}

img#googlelogo{
  bottom: 430px;
  left: 74%;
  position: absolute;
  z-index: -40;
  max-width: 100%;
}
