nav {
	background-color: #000000;
	height: 82px;
  width: 100%;
  text-align:center;
	color: #ffffff;
	font-family: helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	letter-spacing: 1.3px;
}

#left {
  float:left;
	margin: 35px 0px 0px 120px;
  height: 20px;
}

#center {
  display: inline-block;
  margin: 18px auto 0px;
  height: 20px;
	font-size: 24px;
}

#right {
  float:right;
	margin: 35px 120px 0px 0px;
  height: 20px;
}

nav #center ul li {
	display: inline;
}

a.navlink:link{
	margin: 0px 10px;
	float: left;
	width: 42px;
	height: 42px;
	border-radius: 50px;
	border: 2px solid rgba(255, 255, 255, 0);
	font-size: 24px;
	color:#fff;
	line-height: 42px;
	text-align: center;
}
a.navlink:visited{
	color: #fff;
}

a.navlink.current{
	border: 2px solid rgba(255, 255, 255, 1);
}

a.navlink:active{
	opacity: 0.8;
  font-size: 23px;
  transition: all 150ms ease-in-out;
}
