.projectIntro.howe{
  padding-top: 20px;
}

.introLeft.howe{
  width: 500px;
  position: relative;
  left: 22%;
  z-index: 61;
}

h2.howe{
  position: absolute;
  color: #d9caaf;
  top: 103px;
  left: 37px;
}

h3.howe{
  position: absolute;
  top: -16px;
  left: 186px;
}

.introRight.howe{
  width: 500px;
  position: relative;
  left: 42%;
  top: -110px;
  z-index: 52;
}

 p.howe{
  width: 459px;
  border: 1px solid #000;
  padding: 32px;
}

.projectBody.howe{
  margin: 60px auto 120px;
  max-width: 100%;
  position: relative;
}

img#howe1{
  position: relative;
  left: -25px;
  z-index: 700;
}

img#howe2{
  position: absolute;
  right: -295px;
  top: 315px;
  z-index: 710;
}

img#howe3{
  position: absolute;
  right: 31%;
  top: -90px;
  max-width: 100%;
  z-index: 720;
}

img#howe4{
  position: absolute;
  right: 1%;
  top: 110px;
  max-width: 100%;
  z-index: 730;
}

img#howe5{
  position: absolute;
  left: 13%;
  top: 730px;
  max-width: 100%;
  z-index: 716;
}

img#howe6{
  position: absolute;
  top: 830px;
  left: -15px;
  max-width: 100%;
  z-index: 702;
}

img#howe7{
  position: relative;
  top: 660px;
  left: 35%;
  max-width: 100%;
  z-index: 740;
}

img#howe8{
  position: absolute;
  top: 995px;
  left: 64%;
  max-width: 100%;
  z-index: 736;
}

img#howe9{
  position: absolute;
  top: 930px;
  right: 57%;
  max-width: 100%;
  z-index: 735;
}

.howehr{
  margin-top: 900px;
}
