.intro {
  width: 800px;
  background: #00ff00;
  margin: 0 auto;
}


#leftcolumn{
  background: #0000ff;
  width:200px;
  height: 200px;
  float: left;
}


#rightcolumn {
  background: #ff0000;
  width: 200px;
  height: 200px;
  float: right;
}
