.intro {
  width: 600px;
  height: 300px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 26px;
	padding-bottom: 40px;
}

#leftcolumn{
  float: left;
	margin-top: 80px;
	margin-left: 160px;
  display: inline-block;
  position: relative;
  z-index: 10;
}

#rightcolumn {
  float: right;
	margin-top: 80px;
	margin-right: 70px;
  display: inline-block;
	}

.intro #leftcolumn li{
}

.intro #leftcolumn li.nodecor{
	font-style: italic;
	text-decoration: none;
}

.intro #rightcolumn li.email{
	text-decoration: underline;
}

#leftcolmscribble{
  position: absolute;
  top: -8px;
  left: -158px;
  width: 349px;
  z-index: 1;
}
