// Screen Resize
@media screen and (min-width: 320px) {
	.mobile{
		display: none;
	}

}

@media screen and (max-width: 600px) {

		.mobile{
			display: block;
			position: fixed;
			overflow-y: hidden;
			overflow-x: hidden;

			width: 100%;
		}

		.indexWrapper{
			display: none;
		}

		#emailWrapper{
			width: 100%;
			display: block;
			margin: 60px auto 0;
			position: relative;
			z-index: 300;
		}

		p.mobiletext{
			font-family: "Times";
		  -webkit-font-smoothing: antialiased;
		  font-size: 32px;
		  letter-spacing: 2.0px;
		  padding: 107px 50px 66px;
		  line-height: 42px;
		  text-align: center;
			background: none;
		}

		a.email:link{
		  color: #000;

			display: block;
		 	margin: 0 auto;

			text-align: center;

			font-family: "Helvetica Neue";
			-webkit-font-smoothing: antialiased;
			font-size: 16px;
			letter-spacing: 1px;
			position: relative;
			z-index: 301;
			width: 200px
		}

		a.email:visited{
		  color: #000;
		}


		#rebutton{
			position: relative;
			  top: -50px;
			  left: -1px;
				display: block;
				width: 375px;
				z-index: 101;
		}

	#scratch1{
		position: relative;
	  top: -590px;
	  left: -8px;
	  width: 382px;
		z-index: 101;
	}

	#scratch2{
		position: relative;
	  top: -1201px;
	  left: 270px;
	  width: 156px;
	  z-index: 102;
	}

	#scratch3{
		position: relative;
	  top: -710px;
	  left: 70px;
	  width: 130px;
		z-index: 103;
	}



	#nativeWrapper{
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	#arrow{
		position: relative;
	  top: -152px;
	  left: 89px;
	  display: block;
	  width: 25px;
	}

	#nativeemail{
		font-family: "Times";
		-webkit-font-smoothing: antialiased;
		font-size: 16px;
		letter-spacing: 1.0px;
		line-height: 30px;
		padding-bottom: 50px;
		text-align: center;
	}



//
//
//
//
//
//
//
//
//
//
//
// Writing Page

#left{
	display: none;
}

#right{
	display: none;
}


img#pencil1 {
  position: absolute;
  top: 100px;
  left: 98px;
  z-index: -2;
  width: 58%;
}
	img#pencil2 {
  position: absolute;
  top: 130px;
  left: -100px;
  z-index: -3;
  width: 168%;
}

.writing h4{
	text-align: center;
  font-size: 64px;
  padding: 110px 0px 90px;
  -webkit-font-smoothing: antialiased;
}

.writing ul{
line-height: 48px;
  letter-spacing: 0.6px;
  display: block;
  color: red;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  text-align: center;
}



// Single Post

.post{
	width: 320px;
}

.post img {
  width: 300px;
}

.post h4{
	text-align: center;
	font-size: 64px;
	padding: 110px 0px 90px;
	-webkit-font-smoothing: antialiased;
}

.post p{
	line-height: 24px;
	  letter-spacing: 0.6px;
	  display: block;
	  font-family: "Helvetica Neue";
	  -webkit-font-smoothing: antialiased;
	  font-size: 16px;
	  text-align: left;

}



} //End Media
