// NYPD CSS
// some css prefix are in main.css as they are global styles

.projectWrapper.nypd {
  margin: 0px auto;
  max-width: 1160px;
  position: relative;
}

.projectTitle.nypd {
  max-width: 600px;
  padding-left: 225px;
  z-index: -110;
}

.year.nypd{
  color: #0000ff;
  position: relative;
  top: -22px;
  left: 280px;
  width: 400px;
  z-index: 110;
}

.jobPosition.nypd{
  width: 150px;
  top: -180px;
  left: 490px;
  z-index: -120;
}

.info.nypd{
  width: 400px;
  border: 1px solid #000;
  padding: 32px;
  position: relative;
  left: 600px;
  top: -150px;
  z-index: -130;
}

.nypdMembers{
  position: relative;
  left: -200px;
  margin-top: -80px;
  padding-left: 100px;
}

.nypdJobs{
  position: relative;
  left: 500px;
  margin-top: -60px;
  padding-left: 162px;
}


.num{
  font-family: "Helvetica Neue";
  font-weight: 600;
  font-size: 320px;
  color: #0000ff;
}

.nypdattrib{
  display: inline-block;
  font-family: "Helvetica Neue";
  font-weight: 600;
  font-size: 60px;
  color: #0000ff;
}

.nypdattrib.members{
  letter-spacing: 2.5px;
  padding-left: 100px;
}

.nypdattrib.jobs{
  letter-spacing: 2.5px;
  padding-left: 300px;
}

.counting{
  display: inline-block;
  font-family: "Helvetica Neue";
  font-size: 22px;
  color: #0000ff;
  letter-spacing: 2.5px;
  padding-left: 10px;
}

.diagonal{
  width: 400px;
  height: 720px;
  position: absolute;
  left: 360px;
  top: 310px;
}

img#nypdMemScrn{
  margin-top: 80px;
  margin-left: -50px;
  z-index: 109;
}

img#nypdJobScrn{
  position: absolute;
  top: 1246px;
  left: 341px;
  z-index: 111;
}

img#googlelogo{
  top: 30px;
  right: -550px;
  position: absolute;
  z-index: -140;
}
