.post h1{
  text-align: center;
  font-family: "Times";
  font-size: 68px;
  padding: 110px 0px 90px;
  -webkit-font-smoothing: antialiased;
}

.post{
  width: 640px;
  margin: 0px auto ;
  display: block;
}

.post p{
  line-height: 30px;
  letter-spacing: 0.3px;
  display: block;
  padding-bottom: 30px;
}

.post img{
  display: block;
  margin: 0px auto;
}

.post p strong{
  font-font-weight: bold;
}
