.projectIntro.tipjar{
  padding-top: 20px;
}

.introLeft.tipjar{
  width: 320px;
  position: relative;
  left: 25%;
  z-index: 20;
}

h2.tipjar{
  position: absolute;
  color: #f698ba;
  top: 43px;
  left: 37px;
}

h3.tipjar{
  position: absolute;
  top: -16px;
  left: 154px;
}

.introRight.tipjar{
  width: 500px;
  position: relative;
  left: 41%;
  top: -110px;
  z-index: 10;
}

 p.tipjar{
   width: 412px;
   border: 1px solid #000;
   padding: 32px;
}

.projectBody.tipjar{
  margin: -20px auto 120px;
  max-width: 100%;
  position: relative;
}

img#tip-splash{
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

#tipjarContainer{
  margin: 0px auto;
  max-width: 1160px;
  position: relative;
}

img#tjlogotype{
  top: 60px;
  left: 63%;
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

img#smile{
  top: 290px;
  left: 49%;
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

img#purple{
  top: -20px;
  left: -45%;
  position: relative;
  z-index: -1;
  max-width: 100%;
}

#tipjarContainer2{
  margin: 0px auto;
  max-width: 1160px;
  position: relative;
}

img#red{
  top: -460px;
  left: -38%;
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

img#bar{
  top: 90px;
  left: 37%;
  position: absolute;
  z-index: -1;
  max-width: 100%;
}

img#wissing{
  max-width: 100%;
  display: block;
  margin: 290px auto 0;
}

img#tip22{
  max-width: 100%;
  display: block;
  margin: -70px 170px 0px;
}

img#green{
  max-width: 100%;
  display: block;
  margin: -460px 73% 0px;
}

img#bank{
  max-width: 100%;
  display: block;
  margin: -70px auto 0px;
  position: relative;
}

img#cc{
  max-width: 100%;
  display: block;
  margin: -230px 80px 0px;
  position: relative;
}

img#link{
  max-width: 100%;
  display: block;
  margin: -500px 35% 0px;
  position: relative;
}

img#profile{
  max-width: 100%;
  display: block;
  margin: 110px auto 0px;
}
// .introLeft.tipjar h1:hover{
//   letter-spacing: 6px;
//   color: #000;
// }
