.projectIntro.want{
  padding-top: 20px;
}

.introLeft.want{
  width: 500px;
  position: relative;
  left: 23%;
  z-index: 470;
}

h2.want{
  position: absolute;
  color: #9968f5;
  top: 103px;
  left: 37px;
}

h3.want{
  position: absolute;
  top: -21px;
  left: 142px;
}

.introRight.want{
  width: 500px;
  position: relative;
  left: 45%;
  top: -110px;
  z-index: 460;
}

 p.want{
  width: 390px;
  border: 1px solid #000;
  padding: 32px;
}

.projectBody.want{
  margin: 80px auto -560px;
  max-width: 100%;
  position: relative;
}


img#want1{
  max-width: 100%;
  position: relative;
  z-index: 500;
  display: block;
  left: -8%;
    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
    transform: rotate(-10deg);
    mix-blend-mode: multiply;
}

img#want2{
  max-width: 100%;
  position: relative;
  z-index: 510;
  display: block;
  top: -110px;
  left:30%;
    -webkit-transform: rotate(13deg); /* Chrome, Safari, Opera */
    transform: rotate(13deg);
    mix-blend-mode: multiply;
}

img#want3{
  max-width: 100%;
  top: -210px;
  z-index: 530;
  left: -11%;
  position: relative;
    -webkit-transform: rotate(-27deg); /* Chrome, Safari, Opera */
    transform: rotate(-27deg);
    mix-blend-mode: multiply;
}

img#want4{
  max-width: 100%;
  top: -470px;
  z-index: 540;
  right: -28%;
  position: relative;
    -webkit-transform: rotate(-6deg); /* Chrome, Safari, Opera */
    transform: rotate(-6deg);
    mix-blend-mode: multiply;
}

img#want5{
  max-width: 100%;
  top: -583px;
  z-index: 550;
  left: 7%;
  position: relative;
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    mix-blend-mode: multiply;
}

img#want6{
  max-width: 100%;
  top: -650px;
  z-index: 830;
  right: -25%;
  position: relative;
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
    mix-blend-mode: multiply;
}
